<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      encoding="utf-8"
      autoReload="true"
	  >

	<targets async="true">
		<!-- write logs to file -->
		<target xsi:type="File"
				name="file"
				fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${shortdate}.log"
				Encoding="utf-8"
				layout="${longdate} ${threadid} ${uppercase:${level}:padding=5:padCharacter= } || ${event-context:item=method} ${newline} ${event-context:item=WebUser:padding=29:padCharacter= } :: ${message}${onexception:${exception:format=type,message,stacktrace,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:separator=&#13;&#10;                               !! }}${newline}"
				keepFileOpen ="true"
				concurrentWrites ="true"

				archiveEvery="Day"
                archiveDateFormat = "yyyyMMdd"
                maxArchiveFiles = "30"
		        archiveAboveSize="104857600"
				archiveNumbering="Rolling"
				enableArchiveFileCompression="true"
        />
		<!-- write file asynchronously, so that it does not block the calling thread -->
		<wrapper-target xsi:type="AsyncWrapper" name="asyncFile">
			<target-ref name="file" />
		</wrapper-target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>