/* .login-page {
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

.logoLogin {
    padding: 10%;
    height: 70%;
    width: 40%;
    position: fixed;
}

.login-form {
    position: fixed;
    padding-left: 70%;
    padding-top: 20%;
}

.form-container {
    border-style: ridge;
    height: auto;
    width: auto;
}

.welcome {
    font-weight: lighter;
    font-family: Roboto sans-serif;
    font-size: 48px;
}

.field {
    width: auto;
    height: fit-content;
} */